* 
{   margin:0;
    padding:0;
}    
@mixin txt-font ($ff, $fs, $lh, $fw) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
    
}
$site-width: 1140px;
body{
    overflow-y: scroll;
}
.container{
    max-width: $site-width;
    width: 100%;
    margin: 0 auto;
    

}

.header-menu {
    &--flex {    
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 32px;
        justify-content: space-between;
        margin-bottom:1.875em ;
        
    }
		&__logo {
            display: inline-block;

		}
        &__img{
            margin-right: 0.75em;
        }
		&__logo--stile {
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222222;
            @include txt-font("Lato",1.6875em ,2em ,300 );
            margin-right: 2.375em ;
            
                &--d{
                    font-weight: 900;
                    color: #f16d7f;

            }
		}
    }
    .groupinput ul{
        display: none;
    }
    .groupinput.open ul {
        display: block;
        width: 16.375em;
        min-height: 2.375em;
    }
    .goods:last-child.open .box-goods{
        left: auto;
        right: 0;
    }
    .box-goods{
       position: absolute;
       width: 262px;
        height: 440px;
        border-radius: 5px;
        margin-right: 5px;
        padding-top: 1.25em;
        padding-right: 1em;
        padding-left: 1em;
        padding-bottom:1.25em ;
       
    }
    .goods .box-goods{
    
        display: none;
    }
    .goods.open .box-goods{
        display: block;
        max-width: 16.375em; 
    }
    .box-goods{
        background-color: white;
        z-index: 1;

    }
    .form-search{
        display: flex;
        min-width: 25.1875em;
        align-items: center;

    }
    

    
    .header-r-block {
      display: flex;
    
    }
   
   
    
    .flex-box-1{
        width: 100%;
        display: flex;
        
     
    }
    .flex-box-2{
        display: flex;
        justify-content: space-between;
        min-width: 11.75em;
        align-items: center;
    }
   

.filterbuttom{
    &__bc:hover{
        background-color: white;
        color: #f16d7f;

    }
    &__bc:hover .fa-caret-down.marker{
        color: #f16d7f;
    }

    &--basket-card{
        font-family: "Lato";
        font-size: 15px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
        min-width: 8.125em ;
        min-height: 2.375em;
        background-color: #f16d7f;
        vertical-align: middle;
        text-align: center;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid #f16d7f;
    
    }
    &--new-size{     
        min-width: 97.85%;
        min-height: 3.125em;
        
    }
    &--new-margin{
        margin-bottom: 0.625em;
    }
  
    

}
.fa-caret-down.marker{
        color: #ffffff;
        margin-left: 0.375em ;
    }




.fa-shopping-cart {
 color: #222222;
}
.fa-search{
    color: #a4a4a4;
}
.fa-caret-down{
    color: #838383;
}
.filterbuttom{
    display: block;
    min-width: 5.4375em;
    min-height: 2.375em;
    background-color: #cdcdcc;
background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
border: 1px solid #e6e6e6;
border-radius: 3px 0px 0px 3px;

}
.search-button{
    min-height: 2.375em;
    min-width: 2.25em;
    border: 1px solid #e6e6e6;
border-radius: 0px 3px 3px 0px;
}
.dropdown-menu{
    
    max-width: 16.375em;
    padding-left: 12px;
    padding-right: 12px
}
.drop-item{
    width: 100%;
    @include txt-font("Lato",0.875em ,1.75em ,400 );
    letter-spacing: 0.025em;
    color: #4e4e4e;
    text-decoration: none;
        &__big-menu{
            color: #646464;
        }

}
.dropdown-item{

    padding: 0;
}
.li-item{
    margin-left: 8px;
    &--margin{
        margin-left: 0;
    }
}
.dropdown-divider-style{
    width: 14.75em;
    text-align: center;
    margin: 0;
 
}
.form-cont{
    min-height: 2.375em;
    border:1px solid #e6e6e6;
border-radius: 0px;
padding-left:0.875em ;
}
.li-item:hover  .drop-item  {
    color: #f16d7f;
}
.h-menu:hover .item{
    color: #f16d7f;
}
.mega-menu__margin-r:hover .mega-menu__filter{
    color: #f16d7f;
}
.dropdown-menu--stile{
    @include txt-font("Lato",0.875em ,2em ,400 );
font-size: 14px;
line-height: 32px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #232323;
}

.cart-goods-big{
   
    &__cgb-flex{
        min-width: 14.3125em;
        max-height: 100%;
        display: flex;
        justify-content: space-between;
    }
}
.cart-goods-l{
    display: flex;

    &__h3{
        @include txt-font("Lato",0.75em ,1.2 ,700 );
        text-transform: uppercase;
        color: #222222;
    }
    &__content{
       margin-left: 0.875em;
       padding-top: 0.625em;
    }
    &__p{
        @include txt-font("Lato",0.75em ,1.2 ,400 );
        text-transform: uppercase;
        color: #f16d7f;      
        margin-top: 0.75em; 
      
        }
}
.close-button{
    border: none;
    background-color: white;
    

}





//stars
.rating-area {
	overflow: hidden;
	width: 3.5em;
	margin: 0;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 11px;
	padding: 0;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.2;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}
// stars
.cart-goods-r{
    display: flex;
    align-items: center;
}
.dropdown-divider{
    &__bottom-border{
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: rgba(237,237,237,0.74);
    }
    &__menu {
        margin: 0;
        background-color: #ffffff;
    }
    &__catalog{
        min-width: 14.6875em;
        margin: 0;
    }
}
.fa-times-circle{
    color: #c0c0c0;
}
.total{
    @include txt-font('Lato',1em ,1.2 ,700 );
    text-transform: uppercase;
    color: #222222;
    &__flex{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
.button-cb{
    text-align: center;
}
.mega-menu {
    margin-top: 1.125em;
    position: relative;
  

    // .mega-menu__flex

    &__flex {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
       
        
        
    }

    // .mega-menu__filter

    &__filter {
        @include txt-font('Lato',0.875em ,1.625em ,700 );
       text-decoration: none;
        text-transform: uppercase;
        color: #222222;
    }
    &__margin-r{
        margin-right:2.875em ;

    }
}

.mmb-flex{
    display: none;
    max-width:52.875em ;
    padding-top: 1.25em; 
    padding-left: 1.5625em;
    padding-right: 1.5625em;
    position: absolute;
    background-color: white;

}
.mega-menu:last-child:hover .mmb-flex__right{
left: auto;
right: 0;
}
.mega-menu__kids:hover .mmb-flex {
    display: flex; 
   
    
}


.mega-menu__women:hover .mmb-flex {
    display: flex; 
    
    
}
.mega-menu__hot-deals:hover .mmb-flex {
    display: flex; 
    
}
.mega-menu__home:hover .mmb-flex{
    display: flex;
}
.mmb-flex__div1{
    max-width:14.6875em ;
    margin-right: 2.8125em;
}
.mega-menu-box{
 padding-left: 0;
    list-style-type: none;
}
.h-menu{
    @include txt-font('Lato',0.875em ,2em ,600 );
    
    letter-spacing: 0.025em;
    margin: 0;

}
.item{
    text-decoration: none;  
    color: #222222;
}

.big-section{
    background-color: #e8e8e8;
    min-height: 38.375em;
}
.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hs-left-box-text{
    margin-left:0.5em ;
}
.hs-left-box {
  
    display: flex;

    // .hs-left-box__strip

    &__strip {
        min-width: 0.75em;
        min-height: 100%;
        background-color: #f16d7f;;
    }

    // .hs-left-box__h1

    &__h1 {
        @include txt-font('Lato',3.75em ,1.2 ,900 );
        letter-spacing: 0.025em;
        color: #222222;
    }

    // .hs-left-box__h3

    &__h3 {
        @include txt-font('Lato',2.5em ,1.2 ,900 );
        letter-spacing: 0.025em;
        color: #222222;
    }

    // .hs-left-box__h3--color-red

    &__h3--color-red {
        color: #f16d7f ;
    }
}

.stock {
    margin-top: 6.25em;
    margin-bottom:6.25em ;

		// .stock__grid

		&__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 261px);
            grid-gap: 1.25em ;
            
		}

		// .stock__content
        &__content1:hover{
            filter: brightness(60%);
            transform: scale(95%);
        }
        &__content2:hover{
            filter: brightness(60%);
            transform: scale(95%) ;
        } &__content3:hover{
            filter: brightness(60%);
            transform: scale(95%);
        } &__content4:hover{
            filter: brightness(60%);
            transform: scale(95%);
        }

		&__content1 {
            grid-column: 1/2;
            grid-row: 1/3;
          
		}
        &__content2 {
            grid-column: 2/3;
            grid-row: 1/2;

		}
        &__content3 {
            grid-column: 1/2;
            grid-row: 3/4;
            

		}
        &__content4 {
           grid-column: 2/3;
           grid-row: 2/4;
		}
        &__text1{
            padding-top: 1em;
          padding-left: 1em;   
            position: relative;
            width: 10.9375em;
            height: 5.125em;
            background-color: white;
            top: 1.625em;
        }
        &__text2{
            padding-top: 1em;
          padding-left: 1em;   
            position: relative;
            width: 10.9375em;
            height: 5.125em;
            background-color: white;
            top: 1.625em;
        }
        &__text3{
            padding-top: 1em;
          padding-left: 1em;   
            position: relative;
            width: 10.9375em;
            height: 5.125em;
            background-color: white;
            top: 1.625em;
        }
        &__text4{
            padding-top: 1em;
          padding-left: 1em;   
            position: relative;
            width: 10.9375em;
            height: 5.125em;
            background-color: white;
            top: 1.625em;
        }

		// .stock__img

		&__img1 {
            position: absolute;
		}
        &__img2{
            position: absolute;
        }
        &__img3{
            position: absolute;
        }
        &__img4{
            position: absolute;
        }
        &__p{
            @include txt-font('Lato',1.125em ,1.2 ,900 );
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222222;
            margin: 0;

        }
        &__h4{
            @include txt-font('Lato',1.875em ,1.2 ,900 );
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #f16d7f;
            margin: 0;

        }
}

.cards-box {
   

    // .cards-box__h3-header

    &__h3-header {
        @include txt-font("Lato",1.875em ,1.2 , 700);
        letter-spacing: 0.025em;
        color: #222222;
        text-align: center;
    }

    // .cards-box__p-header

    &__p-header {
        text-align: center;
        @include txt-font("Lato",0.875em ,1.2 , 400);
        letter-spacing: 0.025em;
        color: #9f9f9f;
        margin-bottom: 3.75em;
    }

    // .cards-box__grid

    &__grid {
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(2,50%);
        gap: 12px 10px;
    }

    // .cards-box__big-card1

    &__big-card1 {
       
    }
    &__card1{
        position: relative;
        width: 50%;
        margin-bottom: 1em;
        flex-wrap: wrap;

    }
    &__img-card{
      
    }

    // .cards-box__button-bag

    &__button-bag {
        display: none;
        min-width: 7.6875em;
        min-height: 2.4375em;
        background-color: transparent;
        border: 1px solid white;
        @include txt-font('Lato',0.8125em ,1.2 , 700);
        color: #ffffff;
        position: absolute;
        top: 45%;
        left: 55%;
        z-index: 1;
    }

    // .cards-box__link-card

    &__link-card {
        text-decoration: none;
        @include txt-font("Lato", 0.8125em, 1.2,400 );
        text-transform: uppercase;
        color: #222222;
    }
    &__link-card:hover{
        color: #f16d7f
    }

    // .cards-box__p-price

    &__p-price {
        @include txt-font("Lato", 1em, 1.2,700 );
        text-transform: uppercase;
        color: #f16d7f;
        margin-top: 1em;
    }
}

.cards-box {


  
    &__card1 {
    }
}
.card-fa{
    color: white;
}
.cards-box__card1:hover .cards-box__button-bag{
    display: block;
    
}
.cards-box__button-bag:hover{
    color: #f16d7f;
    border-color: #f16d7f;
}
.cards-box__button-bag:hover .card-fa{
    color: #f16d7f;
} 
.cards-box__card1:hover .cards-box__img-card {
    filter: brightness(40%);

}
.button-pink{
  

    min-width: 13.25em;
    min-height:  3em;
    background-color: #f16d7f;
    color: #ffffff;
    border: 1px solid #f16d7f;
}
.button-pink:hover{
    background-color: white;
    color:#f16d7f;
}
.button-pink:hover .fa-big{
    color:#f16d7f;
}
.fa-big{
    color: #ffffff;
}
.big-button-box{
    display: flex;
    justify-content: center;
    margin-top:4.875em ;
    margin-bottom:  7.0625em;

}
.additional-information {

    // .additional-information__left-box-grid

    &__left-box-grid {
        display: grid;
        background-color:#222224 ;
        grid-template-columns: 69% 31%;
        grid-template-rows: repeat(3, 11.1em) ;
    }

    // .additional-information__left-box

    &__left-box {
        position: absolute;
        grid-column: 1/2;
        grid-row: 1/4;
    }

    // .additional-information__a-big-foto

    &__a-big-foto {
    }

    // .additional-information__big-foto

    &__big-foto {
        
    }

    // .additional-information__position

    &__position {
        max-width: 19.3125em;
        position: relative;
        z-index: 1;
        top: 8em;
        left: 2.1875em;
      
    }

    // .additional-information__h3

    &__h3 {
        font-family: "Lato";
font-size: 53.7px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.025em;
color: #ffffff;
    }

    // .additional-information__h3--red

    &__h3--red {
        color: #f16d7f;
    }

    // .additional-information__p

    &__p {
        @include txt-font("Lato", 2.0125em ,1.2 , 700);
        letter-spacing: 0.025em;
        color: #ffffff;
        
    }

    // .additional-information__right-box

    &__right-box1 {
        padding-left: 2.5em;
        padding-right: 2.5em;
        margin-top: 48px;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    &__right-box2{
        padding-left: 2.3em;
        padding-right: 2.5em;
        margin-top: 48px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    &__right-box3{
        padding-left: 2.3em;
        padding-right: 2.5em;
        margin-top: 48px;
        grid-column: 2/3;
        grid-row: 3/4;
    }
    &__right-box1-flex{
        display: flex;
        align-items: top;
        justify-content: center;
     
    }
    &__l-rb{
        margin-right:  2em;
        &--right{
            margin-right: 2em;
        }
        &--right1{
            margin-right: 2.5em;
        }
    }
    &__rb-h4{
        @include txt-font("Lato", 1.25em ,1.2 ,700 );
        letter-spacing: 0.025em;
        color: #fbfbfb;

    }
    &__r-rb{
       
    }
    &__rb-p{
       
        @include txt-font("Lato", 0.875em ,1.5em ,300 );
    
        letter-spacing: 0.025em;
        color: #fbfbfb;
    }
}
.link{
    text-decoration: none;
}
.link:hover .additional-information__rb-h4  {
    color: #f16d7f;
}
.link:hover .additional-information__rb-p {
    color: #f16d7f;
}
.background-footer {
    width: 100%;
    height: 100%;
    position: relative;
   text-align: center;
    margin-top: 5.9375em;
}

.footer {
    height: 100% ;
    
    &__flex-review{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 6.875em;
        
    }
    &__img-review{
        max-width: 5.1875em ;
        max-height: 5.1875em;
    }
   
  

		// .footer__grid

		&__grid {
            position: absolute;
            top: 0%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 27.375em);
            
            
		}

		// .footer__grid-left

		&__grid-left {
            grid-column: 1/2;
            grid-row: 1/2;
            
            max-width: 35.625em ;
            border-right: solid 1px #f9f9f9;
		}

		// .footer__grid-right

		&__grid-right {
            grid-column: 2/3;
            grid-row: 1/2;
            
            max-width: 35.625em ;
            padding-top: 25%;
                    
		}
        &__review-p1{
            max-width:24.125em;
            text-align: left, !important;
            color: #222224;
            margin-bottom: 18px;
            font-family: "Lato";
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            font-style: italic;
            letter-spacing: 0.025em;
        }
        &__review-p2{

            padding-top: 18px;
            &--red{
                color: #f16d7f;
            
            }
        }
    &__input-h3{
        @include txt-font("Lato",1.5em ,0.625em,400 );
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #222224;

    }
    &__input-h4{
        @include txt-font("Lato",0.875em ,1.5em ,400 );
        text-transform: none;
        letter-spacing: 0.025em;
        color: #222224;

    }
        
            
}
.block1 {

    // .block1__red

    &__red {

    }
}
.block-bottom-big{
    max-width: 8.75em;
    display: flex;
    justify-content: space-around;
    margin-left: 7.8em;
    margin-top: 1.375em;
}
.block1 {
    width: 2.375em;
    height: 0.25em;
   background-color: #d6d6d6;
  

    // .block1__color-block

    &__color-block {
        width: 2.375em;
    height: 0.25em;
        background-color: #f16d7f;
    }
}

.form-email-big-box {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.form-email {
   
    &__input{
        max-width: 17.625em;
    min-height: 2.875em;
    border-top-left-radius: 1.4375em;
border-bottom-left-radius: 1.4375em;
padding-left: 24px;
background-color: #e1e1e1;
border-color: #e1e1e1;
    }
    &__submit-button{
        max-width: 6.5em;
        min-height: 2.875em;
        border-top-right-radius: 1.4375em;
        border-bottom-right-radius: 1.4375em;
        background-color: #f16d7f;
        font-size: 14px;
        line-height: 42px;
font-weight: 400;
        padding-right:20px ;
        padding-left: 10px;
        border-color: #f16d7f;

        text-align: center;

font-weight: 400;
letter-spacing: 0.025em;
color: #ffffff;
        
        
    }


		// .form-email__submit

		&__submit {
            font-size: 14px;
            
		}
}
